<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="companycheck" transaction-type="RESOURCE_LOCAL">

        <class>com.company.companycheck.entity.Company</class>
        <class>com.company.companycheck.entity.Branch</class>
        <class>com.company.companycheck.entity.GeneralManager</class>
    </persistence-unit>
</persistence>
